

<ion-content>
   <img src="assets/images/image3.jpg">
   
    <h1>To Do List</h1>
    <p>Each day is a treasure chest filled with limitless opportunities.take joy in checking many off your list</p>
    <br>
    <div class="container">
    <ion-button routerLink='/profile' style="font-size: medium;">
      List Of The Day
    </ion-button>
    <br>
    <ion-button routerLink='/todolist' style="font-size: medium;" >
      List Of The Year
    </ion-button>
    <br>
    <ion-button  routerLink='/note' >
      Notes
    </ion-button>
  </div>
    
  
    
</ion-content>
